<footer class="text-center">
  <div class="container">
  <hr>
  <p>&copy; {{ now.Format "2006"}} Silvio Buscato</p>
  <div class="d-flex flex-row justify-content-center">
    <div class="p-2"><a href="https://www.linkedin.com/in/silvio-buscato"><i class="fab fa-linkedin-in"></i></a></div>
    <div class="p-2"><a href="https://twitter.com/SilvioBuscato"><i class="fab fa-twitter"></i></a></div>
    <div class="p-2"><a href="https://www.instagram.com/silviobuscato/"><i class="fab fa-instagram"></i></a></div>
    <div class="p-2"><a href="https://www.youtube.com/channel/UC51Gs-5Uoj5eEjIjzkLP9BA/"><i class="fab fa-youtube"></i></a></div>
  </div>
  

  <div class="d-flex flex-row justify-content-center">
    <div class="p-4">
      <a href="https://www.iubenda.com/privacy-policy/89607964" class="iubenda-black iubenda-embed"  title="Privacy Policy">Privacy Policy</a>
      <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
    <div class="p-4"><a href="/cookie" title="Cookie Policy">Cookie Policy</a></div>
  </div>    
     
      
  

</div>
</footer>
