@import url('https://fonts.googleapis.com/css?family=Roboto:400|Poppins:400');

body {
    height: 100%;
    margin: 0;
    background-color:#292A2D;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.65;
}

p::selection{
    background-color: teal;
    color: white;
}

p {
    margin-bottom: 1.15rem;
    font-size: 1.25em;
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
  }

  
  h1 {
    margin-top: 0;
    font-size: 3.052em;
    color: white;
  }
  
  h2 {
      font-size: 2.441em;
      color: white;
    }
  
  h3 {
      font-size: 1.953em;
      color: white;
    }
  
  h4 {
      font-size: 1.563em;
      color: white;
      margin: 0;
    }
  
  h5 {
      font-size: 1.25em;
      color: white;
    }
  
  small, .text_small {font-size: 0.8em;}

.home-img {
    padding-top: -50px;
    padding-left: 0;
    padding-right: 0;
    
}

.bn {
    filter: grayscale(100%);


}

.home-icons {
    padding-top: 80px;
    padding-bottom: 80px;
    color: rgb(129, 129, 129);

}

.home-icons i {
    font-size: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a > h2:hover {
    text-decoration: underline;
    color: white;
}

.blog-container {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left:0;
}

.blog {
    opacity: .2;
    text-align: left;
    color: black;
    font-weight: 800;
    font-size: 8em;
    position: fixed;
    left: -40px;
    margin: 0;
    text-align: left;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.post-list {
    text-align: center
}

.post-list a {
    text-decoration: none;
    color: white;
}

.post-list a:hover {
    text-decoration: underline;
}


.post-list h2{
    text-align: center;
}

.post-list h3 {
    color: #afbac4;
    padding-bottom: 30px;
}


.last-post {
    background-color: #202124;
    padding: 1%;
}

.last-post h2 {
    margin: 0;
}

.last-post h3 {
    margin: 0;
}


.single-container {
    padding-top: 80px;
}

.single-container h2 {
    padding-top: 1%;
    padding-bottom: 1%;
}


@media screen and (min-width: 800px) {
    .blog {
      left: 0px;
    }
}

@media screen and (min-width: 1800px) {
    .blog {
      left: 400px;
    }
}

@media screen and (min-width: 2500px) {
    .blog {
      left: 500px;
    }
}



.about{
    padding-top: 70px;
    text-align: left;
} 

.about a {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

.about strong {
    color: white;
}

.about h2 {
    border-left: lightseagreen solid;
    font-size: 1.563em;
    padding: 20px;
    background-color: #202124;
}

.about h5 {
    display: inline;
    margin: 0;
}

.about p span {
    background-color: teal;
    color: white;
}

.about ul {
    list-style: none; /* Remove default bullets */
    color: white;
  }
  
  .about ul li::before {
    content: "\2022";  
    color: teal; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }

.about img {
    filter: grayscale(100%);
}

.author {
    color: white;
}

.my-cat {
    font-size: 1.953em;
    color: wheat;
    background-color:#202124; 
    display: inline-block;
    padding: 1%;
}

.my-cat a {
    color: wheat;
}

.my-cat a:hover{
    text-decoration: underline;
}

footer{
    color: rgb(129, 129, 129);
    padding-bottom: 30px;
}

footer hr {
    background-color:rgb(172, 172, 172);
}

footer a, p{
    text-decoration: none;
    color: rgb(129, 129, 129);
}

footer a:hover{
    color: teal;
}

