
footer{
    color: rgb(129, 129, 129);
    padding-bottom: 30px;
}

footer hr {
    background-color:rgb(172, 172, 172);
}

footer a, p{
    text-decoration: none;
    color: rgb(129, 129, 129);
}

footer a:hover{
    color: teal;
}
