@media screen and (min-width: 800px) {
    .blog {
      left: 0px;
    }
}

@media screen and (min-width: 1800px) {
    .blog {
      left: 400px;
    }
}

@media screen and (min-width: 2500px) {
    .blog {
      left: 500px;
    }
}